/* Resetando o estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: white;
}

/* Barra de navegação */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #141414;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header .logo img {
    width: 100px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e50914;
}

/* Estilo da seção de filmes */
main {
    padding-top: 80px; /* Espaço para a barra de navegação */
}

.movies-category {
    margin-bottom: 30px;
}

.movies-category h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.movie-list {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    gap: 50 px;
    padding: 20px 10px;
}

.movie img {

    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* Efeito de zoom ao passar o mouse */
.movie img:hover {
    transform: scale(1.1);
}

/* Rodapé */
footer {
    background-color: #141414;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    
}
h2{
    text-align: center;
}